{% set secure = "yes" if CW_BASE_URL.startswith('https://') else "no" -%}
[main]
cubicweb.session.secret = {{ PYRAMID_SESSION_SECRET }}
cubicweb.auth.authtkt.session.secret = {{ PYRAMID_AUTHTKT_SESSION_SECRET }}
cubicweb.auth.authtkt.session.secure = {{ secure }}
cubicweb.auth.authtkt.persistent.secret = {{ PYRAMID_AUTHTKT_PERSISTENT_SECRET }}
cubicweb.auth.authtkt.persistent.secure = {{ secure }}
